/*ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â±ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â·ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¼ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â*/
html, body {
    padding: 0;
    margin: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
@font-face {
    font-family: 'weijinsuo';
    src: url('../font/MiFie-Web-Font.eot') format('embedded-opentype'), url('../font/MiFie-Web-Font.svg') format('svg'), url('../font/MiFie-Web-Font.ttf') format('truetype'), url('../font/MiFie-Web-Font.woff') format('woff');
}
[class^='icon-'], [class*=' icon-'] {
    font-family: 'weijinsuo';
    font-style: normal;
}

/*ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â°ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â©ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â®*/
#header .btn-default {
    background-color: #e61e25;
    border: none;
    height: 26px;
    width: 86px;
    color: #fff;
    font-size: 14px;
    padding: 3px 13px;
    text-align: center;
}
.btn-default:focus, .btn-default.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}
.btn-default:hover {
    background-color: #e61e25;
    border: none;
    height: 26px;
    width: 86px;
}
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus {
    background-color: #fff;
    border-color: #ccc;
}
.btn-default .badge {
    color: #fff;
    background-color: #333;
}

/*ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â°ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â©ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â®ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â§ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã…â€œÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¸*/

/*ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¯ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¼ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¨ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¹ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂªÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡*/
.navbar-wjs {
    background-color: #fff;
    border-color: #e7e7e7;
}
.navbar-wjs .navbar-brand {
    color: #777;
}
.navbar-wjs .navbar-brand:hover, .navbar-wjs .navbar-brand:focus {
    color: #5e5e5e;
    background-color: #fff;
}
.navbar-wjs .navbar-text {
    color: #777;
}
.navbar-wjs .navbar-nav > li > a {
    color: #777;
}
.navbar-wjs .navbar-nav > li > a:hover, .navbar-wjs .navbar-nav > li > a:focus {
    color: #333;
    background-color: #fff;
}
.navbar-wjs .navbar-nav > .active > a, .navbar-wjs .navbar-nav > .active > a:hover, .navbar-wjs .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
.navbar-wjs .navbar-nav > .disabled > a, .navbar-wjs .navbar-nav > .disabled > a:hover, .navbar-wjs .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: #fff;
}
.navbar-wjs .navbar-toggle {
    border-color: #ddd;
}
.navbar-wjs .navbar-toggle:hover, .navbar-wjs .navbar-toggle:focus {
    background-color: #ddd;
}
.navbar-wjs .navbar-toggle .icon-bar {
    background-color: #888;
}
.navbar-wjs .navbar-collapse, .navbar-wjs .navbar-form {
    border-color: #e7e7e7;
}
.navbar-wjs .navbar-nav > .open > a, .navbar-wjs .navbar-nav > .open > a:hover, .navbar-wjs .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width:767px) {
    .navbar-wjs .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-wjs .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-wjs .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: #fff;
    }
    .navbar-wjs .navbar-nav .open .dropdown-menu > .active > a, .navbar-wjs .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-wjs .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .navbar-wjs .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-wjs .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-wjs .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: #fff;
    }
}
.navbar-wjs .navbar-link {
    color: #777;
}
.navbar-wjs .navbar-link:hover {
    color: #333;
}
.navbar-wjs .btn-link {
    color: #777;
}
.navbar-wjs .btn-link:hover, .navbar-wjs .btn-link:focus {
    color: #333;
}
.navbar-wjs .btn-link[disabled]:hover, fieldset[disabled] .navbar-wjs .btn-link:hover, .navbar-wjs .btn-link[disabled]:focus, fieldset[disabled] .navbar-wjs .btn-link:focus {
    color: #ccc;
}
#nav_list {
    background-color: #fff;
}

/*ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¯ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¼ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¨ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¹ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂªÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â§ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã…â€œÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¸*/
.font-size-14 {
    font-size: 14px !important;
}
.margin-right-15 {
    margin-right: 15px;
}
.icon-telephone::before {
    content: "\e909";
    font-size: 15px;
}
.icon-mobilephone::before {
    content: "\e908";
    font-size: 13px;
}
.icon-logoleft::before {
    content: "\e920";
    font-size: 50px;
}
.icon-logoright::before {
    content: "\e93e";
    font-size: 36px;
}

/*ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¤ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â´ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â©ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¨ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â·ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¼ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â*/
#header {
    color: #8d8d8d;
    font-size: 12px;
}
#header > .topbar {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
}
#header > .topbar > .container > .row > div {
    height: 40px;
    font-size: 12px;
}
#header > .topbar > .container > .row > div + div {
    border-left: 1px solid #ccc;
}
#header a {
    font-size: 12px;
    color: #888
}
#header a:hover {
    text-decoration: none;
}
#header .glyphicon {
    position: absolute;
    left: 99px;
    top: 15px;
}
#header img {
    display: none;
    position: absolute;
    top: 40px;
    cursor: pointer;
    left: 0;
    z-index: 1001;
}
#header .row-first-div:hover img {
    display: block;
}
#header .icon-logoleft {
    font-size: 50px;
    color: #e61e25;
    vertical-align: middle;
}
#header .icon-logoright {
    font-size: 35px;
    color: #434243;
    vertical-align: middle;
}
#header > .navbar {
    height: 69px;
    margin-bottom: 0;
    width: 100%;
    top: 0px;
}
#header > .navbar .navbar-toggle {
    margin-top: 15px;
}
#header .navbar-brand {
    height: 69px;
    line-height: 39px;
}
#header #nav_list li {
    height: 69px;
    line-height: 69px;
    width: 90px;
}
#header #nav_list li > a {
    font-size: 16px;
    height: 69px;
    line-height: 39px;
    padding: 13px 10px;
}
#header #nav_list li > a:hover {
    border-bottom: 2px solid #e61e25;
}

/*ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¿ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¹Ãƒâ€¦Ã¢â‚¬Å“ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¹ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢*/
#main_ad {
}
#main_ad > .carousel-inner > .item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#main_ad > .carousel-inner > .item > img {
    width: 100%;
}
@media (min-width:768px) {
    #main_ad > .carousel-inner > .item {
        height: 410px;
    }
}

/*ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¤ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂºÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â§ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã…â€œÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¤ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â§ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â*/
#wjs-intro {
    border-bottom: 1px solid #C6CBCF;
    padding-left: 100px;
}
.icon-uniE907::before {
    content: "\e907";
}
.icon-uniE903::before {
    content: "\e903";
}
.icon-uniE901::before {
    content: "\e901";
}
.icon-uniE900:before {
    content: "\e900";
}
.icon-uniE904:before {
    content: "\e904";
}
.icon-uniE902:before {
    content: "\e902";
}
#wjs-intro > .container > .row > div {
    height: 98px;
}
#wjs-intro > .container > .row {
    padding-top: 34px;
}
#wjs-intro > .container > .row > div .media:hover {
    color: #e61e25;
    cursor: pointer;
}
#wjs-intro .media-left > i {
    font-size: 24px;
}

/*ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â§ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â«ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â³ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â©ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â§ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂºÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦*/
.icon-uniE906::before {
    content: "\e906";
}
.icon-uniE905::before {
    content: "\e905";
}
#wjs-reservation {
    border-bottom: 1px solid #C6CBCF;
}
#wjs-reservation .icon-uniE906, #wjs-reservation .icon-uniE905 {
    font-size: 24px;
    margin-right: 5px;
}
#wjs-reservation > .container {
    padding-top: 10px;
}
#wjs-reservation > .container > .row {
    height: 59px;
}
#wjs-reservation > .container > .row span {
    color: #e61e25
}
#wjs-reservation > .container > .row a {
    color: #e61e25;
    border-bottom: 1px dashed #e61e25;
    cursor: pointer;
}
#wjs-reservation > .container > .row a:hover {
    text-decoration: none;
}

/*ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¤ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂºÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â§ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã…â€œÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¤ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¹ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â§ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â*/
.panel-wjs {
    border-color: #ddd;
}
.panel-wjs > .panel-heading {
    border-color: #ddd;
}
.panel-wjs > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}
.panel-wjs > .panel-heading .badge {

    /* color: #f5f5f5; */
    background-color: #333;
    width: 20px;
    height: 20px;
    border-radius: 0;
    padding: 4px 0;
    text-align: center;
    font-style: normal;
    background-color: transparent;
    margin-right: 5px;
}
.panel-wjs > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #ddd;
}
#wjs_products {
    padding: 60px 0;
    background-color: #F0F0F0;
}
#wjs_products >.container>.ul-wrapper > ul {
    padding-left: 20px;
}
#wjs_products > .container >.ul-wrapper > ul > li {
    padding-right: 20px;
}
#wjs_products > .container >.ul-wrapper > ul > li.active {
}
#wjs_products > .container >.ul-wrapper > ul > li.active a {
    color: #2C3E50;
    background-color: #F0F0F0;
    border: 1px solid transparent;
    border-bottom: 4px solid #E61E25;
}
#wjs_products > .container >.ul-wrapper > ul > li > a {
    color: #2C3E50;
    font-size: 15px;
    border-color: transparent;
}
#wjs_products > .container >.ul-wrapper > ul > li > a:hover {
    cursor: pointer;
}
#wjs_products > .container > .tab-content {
    margin: 20px 0;
}
#wjs_products > .container > .tab-content p {
    margin-bottom: 0;
}
#wjs_products > .container > .tab-content > .tab-pane > .row > div.active {
}
#wjs_products > .container > .tab-content > .tab-pane > .row > div {
}
#wjs_products > .container > .tab-content > .tab-pane .panel-wjs {
    border: 0;
    border-radius: 0;
    box-shadow: 1px 1px 5px #ccc;
}
#wjs_products a {
    position: relative;
}
#wjs_products i.hot {
    height: 38px;
    width: 38px;
    position: absolute;
    left: 48px;
    top: -27px;
    background-image: url(../imgs/Hot.png);
    background-size: cover;
}
#wjs_products > .container > .tab-content > .tab-pane .panel-heading {
    float: right;
    width: 106px;
    height: 147px;
    border-left: 1px dashed #D5D5D5;
    text-align: center;
    position: relative;
}
#wjs_products > .container> .tab-content > .tab-pane .panel-heading::before, #wjs_products > .container  .tab-content > .tab-pane .panel-heading::after {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #f0f0f0;
    position: absolute;
}
#wjs_products > .container > .tab-content > .tab-pane .panel-heading::before {
    top: -8px;
    left: -8px;
}
#wjs_products > .container > .tab-content > .tab-pane .panel-heading::after {
    bottom: -8px;
    left: -8px;
    box-shadow: inset 0 1px 2px #ccc;
}
#wjs_products > .container > .tab-content > .tab-pane .panel-body {
    margin-right: 106px;
    height: 147px;
    padding-top: 5px;
}
.panel-body > .item-status {
    height: 98px;
    width: 98px;
    position: absolute;
    left: 130px;
}
.panel-body > .item-status::before {
    content: "\e927";
    font-family: weijinsuo;
    color: #D34049;
    font-size: 93px;
}
.panel-wjs.actived {
    background-color: #E61E25;
    color: #fff;
}
#wjs_products .normal {
    color: #2c3e50;
}
.panel-wjs.actived::before {
    content: '\e915';
    font-family: 'weijinsuo';
    font-size: 50px;
    position: absolute;
    top: -11px;
    left: 15px;
    color: aliceblue;
}
.panel-wjs.disabled {
    background-color: #e0e0e0;
}
.panel-heading {
    padding-top: 40px;
}
.panel-heading  .badge {
    display: inline-block;
    cursor: pointer;
}
.panel-heading  .badge-bao {
    color: #E61E25;
    border: 1px solid #E61E25;
}
.panel-heading  .badge-jing {
    color: #399;
    border: 1px solid #399;
}
.panel-heading  .badge-di {
    color: #bc6d2c;
    border: 1px solid #bc6d2c;
}
.panel-heading strong {
    font-size: 26px;    /* color: #fff; */
}

/* ÃƒÂ¥Ã‚Â¤Ã‚Â´ÃƒÂ¦Ã‚ÂÃ‚Â¡ÃƒÂ¤Ã‚Â¿Ã‚Â¡ÃƒÂ¦Ã‚ÂÃ‚Â¯ */
#wjs_title {
    padding-top: 50px;
    border-bottom: 1px solid #ccc;
}
#wjs_title .news-title {
    font-size: 19px;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    height: 40px;
    text-align: center;
}
#wjs_title .news-title::after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    right: -10px;
    bottom: -5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#wjs_title .icon {
    font-size: 30px;
    position: absolute;
    left: 15px;
    top: 8px;
}
#wjs_title .icon-news01::before {
    content: "\e90e";
    color: #EAEAEA;    /* left: 10px; */

    /* left: 10px; */
}
#wjs_title .icon-news02::before {
    content: "\e90f";
}
#wjs_title .icon-news03::before {
    content: "\e910";
}
#wjs_title .icon-news04::before {
    content: "\e911";
}
#wjs_title .nav-stacked {
    border-bottom: 0;
}
#wjs_title .nav-stacked>li {
    height: 60px;
    width: 60px;
    margin-bottom: 50px;
    border: 0;
}
@media (max-width:968px) {
    #wjs_title .nav-stacked>li {
        float: left;
        margin-right: 20px;
        margin-top: 20px;
    }
}
#wjs_title .nav-stacked > li > a {
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    color: #EAEAEA;
    background-color: #e0e0e0;
    border: 0;
}
#wjs_title .nav-stacked > li.active > a {
    background-color: #e61e25;
    border: 0;
}
#wjs_title .nav-stacked>li>a:hover {
    background-color: #e61e25;
}
#wjs_title .new-news {
    list-style: none;
    padding-top: 30px;
    padding-left: 30px;
}
#wjs_title .new-news > li {
    height: 50px;
}

/* ÃƒÂ¥Ã‚ÂÃ‹â€ ÃƒÂ¤Ã‚Â½Ã…â€œÃƒÂ¤Ã‚Â¼Ã¢â€žÂ¢ÃƒÂ¤Ã‚Â¼Ã‚Â´ */
.icon-uniE930::before {
    content: "\e946";
}
.icon-uniE92F::before {
    content: "\e92f";
}
.icon-uniE92E::before {
    content: "\e92e";
}
.icon-uniE92A::before {
    content: "\e92a";
}
.icon-uniE929::before {
    content: "\e929";
}
.icon-uniE931::before {
    content: "\e931";
}
.icon-uniE92C::before {
    content: "\e92c";
}
.icon-uniE92B::before {
    content: "\e92b";
}
#wjs-partner {
    text-align: center;
    border-bottom: 1px solid #ccc;
}
#wjs-partner > .container > dl {
    overflow: hidden;
    text-align: center;
    width: 1143px;
    margin: 20px auto;
}
#wjs-partner > .container > dl > dt {
    font-size: 22px;
    margin: 10px 0;
    font-weight: normal;
}
#wjs-partner > .container > dl > dd + dd {
    border-left: 1px dashed #ccc;
}
#wjs-partner > .container > dl > dd {
    float: left;
    margin: 0px 20px;
    font-size: 60px;
    padding-left: 40px;
    line-height: 45px;
}
#wjs-partner > .container > dl > dd:hover {
    color: #df3232;
    cursor: pointer;
}

/* Ã¨â€žÅ¡Ã¦Â³Â¨Ã©Æ’Â¨Ã¥Ë†â€  */
.icon-footer_ser2::before {
    content: "\e91a";
    color: #4D4D4D;
    font-size: 28px;
    position: absolute;
    left: 1px;
    top: -5px;
}
.icon-footer_xl::before {
    content: "\e91c";
    color: #4D4D4D;
    font-size: 28px;
    position: absolute;
    left: 1px;
    top: -5px;
}
.icon-footer_wb:before {
    content: "\e91b";
    color: #4D4D4D;
    font-size: 28px;
    position: absolute;
    left: 1px;
    top: -5px;
}
#wjs-footer > .footer-top .row {
    width: 1170px;
}
#wjs-footer > .footer-top .top-left {
    padding: 20px;
}
#wjs-footer > .footer-top .top-left>a {
    color: #666;
    padding: 0 5px;
}
#wjs-footer > .footer-top .top-left>a:hover {
    text-decoration: none;
}
#wjs-footer > .footer-top .top-right {
    padding: 15px 0;
}
#wjs-footer > .footer-top .top-right > a {
    height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 15px;
    border: 1px solid transparent;
    position: relative;
}
#wjs-footer > .footer-top .top-right > a:hover .icon-footer_ser2::before {
    color: rgb(118, 170, 112);
}
#wjs-footer > .footer-top .top-right > a:hover .icon-footer_xl::before {
    color: rgb(244, 117, 111);
}
#wjs-footer > .footer-top .top-right > a:hover .icon-footer_wb::before {
    color: rgb(56, 178, 154);
}

/* å°¾éƒ¨ */
.icon-CFCA::before {
    content: "\e93b";
}
.icon-uniE936::before {
    content: "\e938";
}
.icon-netchina:before {
    content: "\e939";
}
.icon-uniE934::before {
    content: "\e93c";
}
.icon-uniE933::before {
    content: "\e93a";
}
.icon-uniE932::before {
    content: "\e93d";
}
.icon-uniE948::before {
    content: "\e948";
}
#wjs-footer > .footer-bottom {
    background-color: #222;
}
#wjs-footer > .footer-bottom > .container {
    width: 1170px;
}
#wjs-footer > .footer-bottom > .container > div {
    padding-bottom: 30px;
}
#wjs-footer > .footer-bottom > .container > p {
    color: #f0f0f0;
    font-size: 12px;
    padding-top: 27px;
}
#wjs-footer > .footer-bottom > .container > div >a {
    color: #BCBCBC;
    font-size: 50px;
    display: inline-block;
    margin: 0 10px;
}
#wjs-footer > .footer-bottom > .container > div >a:hover {
    text-decoration: none;
    display: inline-block;
    color: #004098;
}
#wjs-footer {
    position: relative;
}
#wjs-footer .rocket-line {
    height: 50px;
    width: 48px;
    background: url(../imgs/index.png) -76px 0 no-repeat;
    right: 8px;
    position: absolute;
    bottom: 6px;
}
#wjs-footer a:hover .rocket-line {

    /*     background: url(../imgs/index.png) -28px 0 no-repeat;
     */
    background-position: -28px 0;
}